aiogram==2.14.3
aiohttp==3.7.4.post0
altgraph==0.17.2
async-timeout==3.0.1
attrs==21.2.0
Babel==2.9.1
certifi==2021.5.30
chardet==4.0.0
click==8.0.3
colorama==0.4.4
DateTime==4.3
DAWG-Python==0.7.2
docopt==0.6.2
future==0.18.2
idna==2.10
lxml==4.6.2
multidict==5.1.0
pefile==2021.9.3
Pillow==8.1.2
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.3
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqt5-tools==5.15.4.3.2
python-docx==0.8.10
python-dotenv==0.19.1
pytz==2021.1
pywin32-ctypes==0.2.0
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
requests==2.25.1
typing-extensions==3.10.0.0
urllib3==1.26.6
websocket-client==1.1.0
yarl==1.6.3
zope.interface==5.2.0
